<!--<% if flash[:notice] %>
 <p><%=flash[:notice] %> </p>
  <% flash[:notice] = nil %>
<% end %>
<% if not @current_user %>
 <%= link_to 'Login', '/auth/josh_id' %>
<% else %> 
  <h1>Hello <%= "#{@current_user.first_name} #{@current_user.last_name}" %> !</h1>
 <%= link_to 'logout', '/logout' %>
<% end %> -->
<div class="calendar"></div>


 <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1338940106235191";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your share button code -->
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>	